*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: orange;
    border-radius: 10px;
}

input{
    height: 40px;
    min-width: 80px; 
}

